{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'words/css/style.css' %}">
    {% block title %}<title>Dictionary</title>{% endblock %}
</head>
<body>
    <header class="text-center">
        <a href="{% url 'words:words' %}" id="myWordsButton" class="btn btn-secondary rounded-pill">Words</a>
        <h1 class="title"><a href="{% url 'words:home' %}" class="text-white">Dictionary</a></h1>
        <a href="{% url 'words:logout' %}" class="btn btn-secondary rounded-pill">Log out</a>
    </header>
{% block content %}
{% endblock %}
</body>
</html>
