{% extends 'words/base.html' %}

{% block content %}
<main class="container text-center mt-5">
    <div class="inputs">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="d-flex mb-3">
                {{ form.word }}
                {{ form.translation }}
            </div>
            <div class="invalid-input">
                {{ form.word.errors }}
                {{ form.translation.errors }}
            </div>
            {{ form.context }}
            <div class="invalid-input">
                {{ form.context.errors }}
            </div>
            <button type="submit" class="btn btn-primary rounded-pill btn-lg">Save</button>
        </form>
    </div>
</main>
{% endblock %}
